<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WLD 2.0</title>
    </head>
    <body>
        <h1 style="color:#000000; text-align: center; heigth:40px">
            Worldcoin Comunidad
        </h1>

        <p>
            ¡Felicidades por completar tu registro exitosamente! 
            <br>Queremos informarte sobre el siguiente proceso.<br>
            Nuestro equipo en Worldcoin analizará detenidamente cada usuario con su código de registro para determinar el
            cupo disponible al que tendrás acceso como bono en el mes de noviembre/diciembre.<br><br>
            Queremos expresar nuestro más sincero agradecimiento por la confianza que has depositado en nosotros al 
            unirte a nuestra comunidad. Estamos comprometidos en brindarte un servicio excepcional y en hacer de tu 
            experiencia en Worldcoin algo gratificante y exitoso.<br>
            Mientras tanto, te invitamos a explorar los recursos y herramientas disponibles en nuestra plataforma para
            familiarizarte con todas las opciones que tenemos para ofrecer. Si tienes alguna pregunta o necesitas 
            asistencia, no dudes en ponerte en contacto con nuestro equipo de soporte. <br>
            Una vez más, gracias por confiar en Worldcoin. ¡Estamos emocionados y ansiosos por acompañarte en tu viaje
            hacia el éxito financiero!
        </p>
    </body>
</html>
